@using FootballTeams.Domain.AdditionalDetail;
@using FootballTeams.Web.Models.ViewModels;
@using FootballTeams.Domain.Teams;
@model IEnumerable<CountryViewModel>
@{
    ViewBag.Title = "Imported Countries";
}
<h1>
    Country Codes
</h1>
<p>
    @Model.Count() Parsed results
</p>

<a class="btn btn-secondary  mt-3 mb-3" role="button" href="@Url.Action("Index")">Back to Importers</a>

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>Flag Single</th>
                <th>Flag Sprite</th>
                <th>Name</th>
                <th class="w-20">Official Name</th>
                <th>FIFA</th>
                <th>ISO3</th>
                <th>ISO2</th>
                <th>UNI</th>
                <th>Fifa Association</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Model)
            {
                var noFaoStyle = "";

                if (string.IsNullOrEmpty(country.OriginUrl))
                {
                    //noFaoStyle = "bg-warning";
                }

                <tr class="@noFaoStyle">
                    <td>
                        <img class="shadow" src="@Url.Content($"~/Content/img/flags/flags-1/{country.FIFA}.png")" style="height: 20px;" />
                    </td>
                    <td>
                        <span class="flag @country.ISO2"></span>
                    </td>
                    <td>
                        <a href="@country.OriginUrl" target="_blank">@country.Name</a>
                    </td>
                    <td>@country.OfficialName</td>
                    <td>@country.FIFA</td>
                    <td>@country.ISO3</td>
                    <td>@country.ISO2</td>
                    <td>@country.UNI</td>
                    <td class="text-center">
                        <a href="@country.FifaAssociationUrl" target="_blank">
                            @country.FifaAssociation
                            <img class="mx-auto d-block" src="@Url.Content($"~/Content/img/badges/fifa/ass-1/{country.FIFA}.png")">
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
