@{
    ViewBag.Title = "Index";

    var importDisabled = !User.IsInRole("GlobalManager") ? "disabled" : "";
}

<h1>Importers</h1>
<p>All data has been saved locally and imported via Html Parsing, in order to avoid bothering the sites (and myself) with the Direct Scraping.<br></p>
<div class="table-responsive">
    <form method="post">

        @Html.AntiForgeryToken()

        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Test Action</th>
                    <th>Import Action</th>
                    <th>Raw Data</th>
                    <th>Original Source</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>FAO Countries - Test Only<br></td>
                    <td>
                        <button type="submit" class="btn btn-info btn-sm" formaction="@Url.Action("FaoCountry")">Test</button>
                    </td>
                    <td></td>
                    <td>
                        <a href="@Url.Content("~/Content/RawData/CountryData/FaoCountryCodes.html")" target="_blank">FAO Country Codes</a>
                    </td>
                    <td>
                        <a href="http://www.fao.org/countryprofiles/iso3list/en/" target="_blank">FAO</a>
                    </td>
                </tr>
                <tr>
                    <td>FIFA Countries - Test Only<br></td>
                    <td>
                        <button type="submit" class="btn btn-info btn-sm" formaction="@Url.Action("FifaCountry")">Test</button>
                    </td>
                    <td></td>
                    <td>
                        <a href="@Url.Content("~/Content/RawData/CountryData/FifaCountryCodes.html")" target="_blank">FIFA Country Codes</a>
                    </td>
                    <td>
                        <a href="https://en.wikipedia.org/wiki/List_of_FIFA_country_codes" target="_blank">Wikipedia</a>
                    </td>
                </tr>
                <tr>
                    <td>All Countries - FIFA and FAO Merged<br></td>
                    <td>
                        <button type="submit" class="btn btn-info btn-sm" formaction="@Url.Action("Country")">Test</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-info btn-sm" @importDisabled formaction="@Url.Action("CountryImport")">Import</button>
                    </td>
                    <td>
                       
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bg-info" colspan="5"><span class="text-white font-weight-bold">Italian League<br></span></td>
                </tr>
                <tr>
                    <td>Teams<br></td>
                    <td>
                        <button type="submit" class="btn btn-info btn-sm" formaction="@Url.Action("Team")">Test</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-info btn-sm" @importDisabled formaction="@Url.Action("TeamImport")">Import</button>
                    </td>
                    <td><a href="@Url.Content("~/Content/RawData/LeagueData/Italy/_sampledata/clean/team atalanta.html")" target="_blank">Team Sample File</a></td>
                    <td><a href="http://www.legaseriea.it/en/serie-a/teams/atalanta" target="_blank">legaseriea.it/atalanta</a></td>
                </tr>
                <tr>
                    <td>Players<br></td>
                    <td>
                        <button type="submit" class="btn btn-info btn-sm" formaction="@Url.Action("Player")">Test</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-info btn-sm" @importDisabled formaction="@Url.Action("PlayerImport")">Import</button>
                    </td>
                    <td><a href="@Url.Content("~/Content/RawData/LeagueData/Italy/_sampledata/clean/squad atalanta.html")" target="_blank">Squad Sample File</a></td>
                    <td><a href="http://www.legaseriea.it/en/serie-a/teams/atalanta/team" target="_blank">legaseriea.it/atalanta/squad</a></td>
                </tr>
                <tr>
                    <td>Managers<br></td>
                    <td>
                        <button type="submit" class="btn btn-info btn-sm" formaction="@Url.Action("Manager")">Test</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-info btn-sm" @importDisabled formaction="@Url.Action("ManagerImport")">Import</button>
                    </td>
                    <td><a href="@Url.Content("~/Content/RawData/LeagueData/Italy/_sampledata/clean/manager atalanta.html")" target="_blank">Manager Sample File</a></td>
                    <td><a href="http://www.legaseriea.it/en/serie-a/teams/atalanta/staff" target="_blank">legaseriea.it/atalanta/staff</a></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
