@using FootballTeams.Web.Models.ViewModels
@using FootballTeams.Domain.AdditionalDetail

@model TeamViewModel
@{
    ViewBag.Title = "Team Details";

    var imageUrl = Model.ImageUrlOrDefault(Url);

    var isGlobalManager = User.IsInRole("GlobalManager");
}

<h1>@Model.Name</h1>

<div class="row">
    <div class="col-md-4"><img class="d-block mx-auto" src="@imageUrl" width="400"></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <small>Football Teams Details</small>
                <h5 class="mb-0">Team Details</h5>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>City</td>
                            <td>@Model.City</td>
                        </tr>
                        <tr>
                            <td>Current Manager</td>
                            <td>
                                @{
                                    var manager = Model.Manager();
                                }

                                @if (manager != null)
                                {
                                    <a href="@Url.Action("Details","Manager",new { id=manager.Id})">@manager.Fullname</a>
                                }
                                else
                                {
                                    <span>na</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Matches Played</td>
                            <td>@Model.NumberOfMatchesPlayed()</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>@Model.Points()</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body"></div>
        </div>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(x => Model.AdditionalDetails)
    </div>
</div>

<div class="row">
    <div class="col">
        <a class="btn btn-secondary mt-3 mb-3" role="button" href="@Url.Action("Index")">Back to List</a>
        @if (isGlobalManager)
        {
            <a class="btn btn-info mt-3 mb-3 float-right" role="button" href="@Url.Action("Edit",new { id = Model.Id })">Edit</a>
        }
    </div>
    <div class="col"></div>
    <div class="col"></div>
</div>


<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Matches</a></li>
    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Players</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" role="tabpanel" id="tab-1">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    @foreach (var match in Model.Matches)
                    {
                        <tr>
                            <td>
                                @match.TeamHome.Name
                                <img class="team-badge fl mr" src="@match.TeamHome.ImageUrl">
                            </td>
                            <td>@match.TeamHomeScore</td>
                            <td>@match.TeamAwayScore</td>
                            <td>
                                @match.TeamAway.Name
                                <img class="team-badge fl mr" src="@match.TeamAway.ImageUrl">
                            </td>
                            <td>
                                @{
                                    var matchResult = Model.MatchResult(match);

                                    switch (matchResult)
                                    {
                                        case "w":
                                            <span class="badge badge-success">won</span>
                                            break;

                                        case "d":
                                            <span class="badge badge-warning">draw</span>
                                            break;

                                        case "l":
                                            <span class="badge badge-danger">lost</span>
                                            break;

                                        default:

                                            <span class="badge badge-light">na</span>
                                            break;
                                    }
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" role="tabpanel" id="tab-2">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    @foreach (var player in Model.Players())
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Details","Player",new { id=player.Id})"> @player.Fullname</a>
                            </td>
                            <td>@player.Age()</td>
                            <td>@player.Position</td>
                            <td>
                                @if (player.NationalityFIFA != null)
                                {
                                    <img class="flag-single mr-3" src="@Url.Content($"~/content/img/flags/flags-1/{player.NationalityFIFA}.png")">
                                }
                                @player.Nationality
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-secondary mt-3 mb-3" role="button" href="@Url.Action("Index")">Back to List</a>
</div>
