@using FootballTeams.Web.Models.ViewModels
@model IEnumerable<TableRowViewModel>

@{
    ViewBag.Title = "Tables";
}

<h1>Tables</h1>
<p>Like a rolling ball</p>
<div class="table-responsive">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th class="w-5"></th>
                <th>Team</th>
                <th>Points</th>
                <th>Matches</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    <td>@row.Position</td>
                    <td>
                        <a href="@Url.Action("Details",new { Id = row.TeamId })">
                            @row.TeamName
                        </a>
                        <img class="team-badge fl mr" src="@TeamExtensions.ImageUrlOrDefault(row.TeamName, Url)">
                    </td>
                    <td>@row.Points</td>
                    <td>@row.Matches</td>
                </tr>
            }
        </tbody>
    </table>
</div>