@using FootballTeams.Web.Models.ViewModels
@using FootballTeams.Domain.AdditionalDetail
@model TeamMemberViewModel
@{
    ViewBag.Title = "Manager Details";

    var dateOfBirth = Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToString("dd/MM/yyyy") : "na";

    var isGlobalManager = User.IsInRole("GlobalManager");
}

<h1>@Model.Fullname</h1>
<p>@Model.Role</p>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <small>Football Teams Details</small>
                <h5 class="mb-0">Details</h5>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Team</td>
                                <td>
                                    @if (Model.Team != null)
                                    {
                                        <a href="@Url.Action("Details", "Team", new { id = Model.Team.Id })">@Model.Team.Name</a>
                                        <img class="team-badge fl mr" src="@Model.Team.ImageUrl">
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Age</td>
                                <td>@Model.Age()</td>
                            </tr>
                            <tr>
                                <td>Date of birth</td>
                                <td>@dateOfBirth</td>
                            </tr>
                            <tr>
                                <td>Nationality</td>
                                <td>
                                    @if (Model.NationalityFIFA != null)
                                    {
                                        <img class="flag-single mr-3" src="@Url.Content($"~/content/img/flags/flags-1/{Model.NationalityFIFA}.png")">
                                        <a href="https://www.fifa.com/associations/association/@Model.NationalityFIFA" target="_blank">@Model.Nationality</a>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(x => Model.AdditionalDetails)
    </div>
</div>

<div class="row">
    <div class="col">
        @if (isGlobalManager)
        {
            <a class="btn btn-info  float-right mt-3 mb-3" role="button" href="@Url.Action("Edit",new { id= Model.Id})">Edit</a>
        }
        <a class="btn btn-secondary  mt-3 mb-3" role="button" href="@Url.Action("Index")">Back to List</a>
    </div>
    <div class="col"></div>
</div>




