@using FootballTeams.Web.Models.ViewModels;
@model FootballTeams.Web.Models.ViewModels.TeamMemberViewModel
@{
    ViewBag.Title = "Edit Manager";

    var dateOfBirth = Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToString("yyyy-MM-dd") : "";
}

<form method="post" action="@Url.Action("Edit")" autocomplete="off">

    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6">
            <h1>Edit Manager</h1>

            <div class="form-group">
                <label>Fullname</label>
                <input class="form-control" type="text" placeholder="Fullname" name="Fullname" value="@Model.Fullname">
            </div>
            <div class="form-group">
                <label>Nationality</label>
                <input id="Nationality" class="form-control" type="text" placeholder="Nationality" name="Nationality" autocomplete="off" value="@Model.Nationality">
                <input id="NationalityFIFA" type="hidden" name="NationalityFIFA" value="@(Model?.NationalityFIFA)">

                <div class="dropdown" style="cursor:pointer;">
                    <div id="nationality-dropdown" class="dropdown-menu" role="menu">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Date of birth</label>
                <input class="form-control" type="date" name="DateOfBirth" value="@dateOfBirth">
            </div>

            <div class="form-group row">
                <label>Role</label>
                <div class="col">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="role-none" name="Role" value="0">
                        <label class="custom-control-label" for="role-none">None</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="role-player" name="Role" value="1">
                        <label class="custom-control-label" for="role-player">Player</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="role-manager" name="Role" value="2" checked>
                        <label class="custom-control-label" for="role-manager">Manager</label>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <button class="btn btn-info" type="submit">Save</button>

        </div>
        <div class="col-md-6">
            <h1>Team</h1>
            <label>Please select the team to join </label>
            <select class="form-control" name="TeamId">
                <option value="">No Team</option>

                @foreach (TeamViewModel team in ViewBag.AvailableTeams)
                {
                    var selected = Model.TeamId == team.Id ? "selected" : "";

                    <option value="@team.Id" @selected>@team.Name</option>
                }
            </select>
        </div>
    </div>

</form>

@{
    Html.RenderPartial("~/Views/Shared/_NationalityLookupScript.cshtml");
}