@using FootballTeams.Web.Models.ViewModels;
@model IEnumerable<TeamMemberViewModel>
@{
    ViewBag.Title = "Managers";

    var isGlobalManager = User.IsInRole("GlobalManager");
}

<div class="row">
    <div class="col-md-6">
        <h1>Managers</h1>
    </div>
    <div class="col-md-6"></div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>Beast Fosters!</p>
    </div>
    <div class="col-md-6">

        @if (isGlobalManager)
        {
            <a class="btn btn-info float-right mb-3" role="button" href="@Url.Action("Register")">Register Manager</a>
        }

    </div>
</div>


<div class="row">

    @foreach (var manager in Model)
    {
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">@manager.Fullname</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Team</td>
                                    <td>
                                        @if (manager.Team != null)
                                        {
                                            <a href="@Url.Action("Details","Team",new { id=manager.Team.Id})">@manager.Team.Name</a>
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>Years</td>
                                    <td>@manager.Age()</td>
                                </tr>
                                <tr>
                                    <td>Nationality</td>
                                    <td>@manager.Nationality</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-info active btn-sm text-white" role="button" href="@Url.Action("Details", new { Id = manager.Id })">View</a>

                    @if (isGlobalManager)
                    {
                        <a class="btn btn-secondary active btn-sm text-white float-right" role="button" href="@Url.Action("Edit", new { Id = manager.Id })">Edit</a>
                    }

                </div>
            </div>
        </div>
    }

</div>


