@using FootballTeams.Web.Models.ViewModels
@using FootballTeams.Domain.AdditionalDetail
@model TeamMemberViewModel
@{
    ViewBag.Title = "Player Details";

    var dateOfBirth = Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToString("dd/MM/yyyy") : "na";

    var isGlobalManager = User.IsInRole("GlobalManager");
}

<h1>@Model.Fullname</h1>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <small>Football Teams Details</small>
                <h5 class="mb-0">No. @Model.Number</h5>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="w-35">Team</td>
                            <td>
                                @if (Model.Team != null)
                                {
                                    <a href="@Url.Action("Details","Team",new { id=Model.Team.Id})">@Model.Team.Name</a>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Position</td>
                            <td>@Model.Position</td>
                        </tr>
                        <tr>
                            <td>Nationality</td>
                            <td>
                                <img class="flag-single mr-3" src="@Url.Content($"~/content/img/flags/flags-1/{Model.NationalityFIFA}.png")">
                                <a href="https://www.fifa.com/associations/association/@Model.NationalityFIFA" target="_blank">@Model.Nationality</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td>@Model.Age()</td>
                        </tr>
                        <tr>
                            <td>Date of birth</td>
                            <td>@dateOfBirth</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="card-body"></div>
        </div>
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(x => Model.AdditionalDetails)
    </div>
</div>
<div class="row">
    <div class="col">
        @if (isGlobalManager)
        {
            <a class="btn btn-info  float-right mt-3 mb-3" role="button" href="@Url.Action("Edit",new { id= Model.Id})">Edit</a>
        }
        <a class="btn btn-secondary mt-3 mb-3" role="button" href="@Url.Action("Index")">Back to List</a>
    </div>
    <div class="col"></div>
</div>

