@using FootballTeams.Web.Models.ViewModels
@using FootballTeams.Domain.AdditionalDetail;
@using System.Configuration;
@model IEnumerable<TeamMemberViewModel>
@{
    ViewBag.Title = "Players";

    var isGlobalManager = User.IsInRole("GlobalManager");

    var fifaAssociationUrl = ConfigurationManager.AppSettings["FifaAssociationUrl"];
}

<div class="row">
    <div class="col-md-6">
        <h1>Players</h1>
    </div>
    <div class="col-md-6"></div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>Just amazing people</p>
    </div>
    <div class="col-md-6">

        @if (isGlobalManager)
        {
            <a class="btn btn-info float-right mb-3" role="button" href="@Url.Action("Register")">Register Player</a>
        }

    </div>
</div>


<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>No. </th>
                <th>Fullname</th>
                <th>Position</th>
                <th>Nationality</th>
                <th>Team</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model)
            {
                <tr>
                    <td>
                        @player.Number
                    </td>
                    <td>
                        <a href="@Url.Action("Details",new { id = player.Id})">@player.Fullname</a>
                    </td>
                    <td>@player.Position</td>
                    <td>
                        <div class="row">
                            <div class="col col-3">
                                <img class="flag-single" src="@player.NationalityFlagUrl(Url)">
                            </div>
                            <div class="col">

                                <a target="_blank" href="@($"{fifaAssociationUrl}{player.AdditionalDetails.GetDetailValueOrDefault("FIFA")}")">@player.Nationality</a>



                            </div>
                        </div>
                    </td>
                    <td>
                        @if (player.Team != null)
                        {
                            <a href="@Url.Action("Details","Team",new { id = player.Team.Id})"> @player.Team.Name</a>

                            <img class="team-badge fl mr" src="@player.Team.ImageUrlOrDefault(Url)">
                        }
                        else
                        {
                            //todo: remove this hardcoded image
                            //todo: rename defautl-team.ong to no-team.png
                            <img class="team-badge fl mr" src="@Url.Content("~/content/img/teams/no-team.png")" title="No Team" />
                        }

                    </td>
                    <td>
                        @if (isGlobalManager)
                        {
                            <a class="btn btn-secondary active btn-sm text-white float-right" role="button" href="@Url.Action("Edit", new { Id = player.Id })">Edit</a>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
